* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 8px 1px #333;
    padding: 0.15rem 1rem;
}

#navbar a {
    text-decoration: none;
    color: #555;
    padding: 0.65em;
    border-radius: 10px;
}

#navbar a:hover {
    background-color: #555;
    color: white;
}

#welcome-section {
    padding: 30% 1rem;
    height: 100vh;
    color: #eee;
    background-image: url('images/Hero-laptop.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat: no-repeat;
    background-position: center;
}

#welcome-section h1, h2 {
    margin: 0;
}

#about {
    width: 95%;
    margin: 0 auto 2rem;
    padding: 2rem 1rem;
}

#about h2 {
    margin: 0.25rem;
}

#about p {
    text-align: center;
    letter-spacing: 2.5px;
    width: 80%;
    margin: 0 auto;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    padding: 0 0.25rem;
}

#projects img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 5px 5px 0 0;
}

#projects-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-tile {
    display: block;
    text-decoration: none;
    width: 95%;
    font-size: 120%;
    margin: 2rem auto 1rem;
    border-radius: 5px;
    box-shadow: 0 0 8px #333;
}

.project-title {
    margin: 0;
    padding: 1rem;
}

.t-p {
    color: #093;
}

.p-l-p {
    color: #960;
}

.n-c {
    color: #db0610;
}

.a-c {
    color: #4d4dff;
}

.show-all-btn {
    background-color: #60f;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 10rem;
    margin: 4rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.show-all-btn:hover {
    background-color: #3d0099;
    box-shadow: 2px 2px 5px #333;
}

.show-all-btn:active {
    box-shadow: 0 0 0 #333;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 120%;
    background-color: hsl(240, 35%, 25%);
}

.contact-links {
    display: flex;
    flex-direction: column;
}

#contact a {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    margin: 0.5rem auto 0;
    padding: 0.25rem;
}

#contact .github:hover {
    color: #bbb;
}

#contact .facebook:hover {
    color: #1977f3;
}

#contact .instagram:hover {
    color: #cd389e;
}

#contact .twitter:hover {
    color: #56abeb;
}

#footer {
    text-align: center;
    padding: 0.5rem;
    color: #ccc;
    background-color: hsl(240, 25%, 25%);
}

@media (min-width: 600px) {
    #projects-container a {
        width: 50vw;
    }

    .contact-links {
        flex-direction: row;
    }
    
    #contact a {
        margin: 0 1rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #welcome-section {
        padding: 25% 1rem;
    }

    #projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #projects-container a {
        width: 45vw;
    }
}

@media (min-width: 992px) {
    #projects-container a {
        width: 23vw;
    }
}