* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 8px 1px #333;
    padding: 0.15rem 1rem;
}

#navbar a {
    text-decoration: none;
    color: #555;
    padding: 0.65em;
    border-radius: 10px;
}

#navbar a:hover {
    background-color: #555;
    color: white;
}

#welcome-section {
    padding-top: 15%;
    height: 100vh;
    color: #eee;
    background-image: url('images/Hero-laptop.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat: no-repeat;
    background-position: center;
}

#welcome-section h1, h2 {
    margin: 0;
}

#about {
    width: 95%;
    margin: 0 auto 2rem;
    padding: 2rem 1rem;
}

#about h2 {
    margin: 0.25rem;
}

#about p {
    text-align: center;
    letter-spacing: 2.5px;
    width: 80%;
    margin: 0 auto;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    margin: 2rem 0;
}

#projects img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 5px 5px 0 0;
}

#projects-container {
    text-align: center;
}

#projects-container a {
    display: block;
    text-decoration: none;
    width: 95%;
    font-size: 120%;
    margin: 2rem auto 1rem;
    border-radius: 5px;
    box-shadow: 0 0 8px #333;
}

.project-title {
    margin: 0;
    padding: 1rem;
}

.t-p {
    color: #093;
}

.p-l-p {
    color: #960;
}

.n-c {
    color: #db0610;
}

.a-c {
    color: #4d4dff;
}