* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 8px 1px #333;
    padding: 0.15rem;
}

#navbar a {
    text-decoration: none;
    color: #555;
    padding: 0.65em;
    border-radius: 10px;
}

#navbar a:hover {
    background-color: #555;
    color: white;
}

#welcome-section {
    padding-top: 15%;
    height: 100vh;
    color: #eee;
    background-image: url('images/Hero-laptop.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat: no-repeat;
}

#welcome-section h1, h2 {
    margin: 0;
}
